.clients {
    padding-top: 60px;
    padding-bottom: 60px;
     @media screen and (min-width: 1200px) {
        padding-top: 94px;
    padding-bottom: 94px;

    }
    
    
}

.clients-info {
display: flex;
flex-wrap: wrap;
gap: 30px;


}

.clients-logo {
     display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-right: 0 auto;
     @media screen and (min-width: 480px) {
        width: calc((100% - 30px) / 2);
     }
      @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
     }
      @media screen and (min-width: 1200px) {
        width: calc((100% - 150px) / 6);
    }
    
}


.clients-link {
    display: flex;
    align-items: center;
    height: 92px;
    justify-content: center;
    border:1px solid #AFB1B8; 
    border-radius:4px;
    transition: border-color 250ms var(--timingfunction);
    &:hover,
    &:focus {
    border-color: var(--accent);
}
}

.clients-icons {
    fill: #AFB1B8;
    transition: fill 250ms var(--timingfunction);
    .clients-link:hover &, 
    .clients-link:focus &{ 
    fill: var(--accent);
}   
}




